@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

@font-face {
  font-family: 'Ananda Black Font';
  src: url('https://www.logo.wine/a/logo/Microsoft/Microsoft-Logo.wine.svg');
}

.font-logo {
  font-family: 'Ananda Black Font', sans-serif;
}

button {
  display: inline-flex;
  align-items: center;
}

button img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;

#_dialog-content {
    height: 500px;
}

.e-dialog .e-dlg-content {
    display: contents;
}

div.e-dialog:nth-of-type(1) {
    max-height: none !important;
    max-width: none !important;
    width: 800px;
}

div.e-dlg-container.e-dlg-center-center {
    position: fixed !important;
}